.songWrap {
    display: flex;
    justify-content: space-between;
    background-color: #212121;
    cursor: pointer;
}

.songInfo {
    display: flex;
    justify-content: flex-start;
}

.cover {
    border: 2px solid black;
    width: 50px;
}

.text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 10px 10px 5px;
}

.nameSong,
.nameBand {
    display: block;
}

.songOtherInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    padding: 10px 5px 10px 5px;
}