.header {
    display: grid;
    grid-template: 1fr/ 1fr minmax(auto, 1024px) 1fr;
    background-color: #bdbdbd;
    height: 50px;
    justify-items: start;
    position: sticky;
    width: 100%;
    z-index: 6;
}

.title {
    grid-column: 2;
    padding: 0 10px 0 10px;
}