.controlPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px 25px 100px;
}

.controlPanelLeft {
    display: flex;
    padding: 0 30px 0 0;
}