.equalizerWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#logo{
    width: 500px;
    min-height: 500px;
    border-radius: 50%;
    background: red;
}

/* .equalizerWrapFull {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
} */
